/* SIgnup.css */
body {
  background-image: url('../../public/unsplash-image-1500h.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .label {
    display: block;
    margin: 10px 0;
  }

  .input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .button {
    width: 100%;
    padding: 10px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
  }

  button:hover {
    background-color: #45a049;
  }